*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    display: flex;
    min-width: 100vh;
}

.nav_bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    min-height: 100vh;
    background: #606368;
    color: #AAB2BF;
}


.nav_bar .nav_middle .navLinks{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;    
    margin-top: 60px;
    outline: 0;
}

.nav_bar .nav_middle .navLinks a{
    color: #AAB2BF;
}

.nav_bar .nav_bottom .social_medias{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 23px;
    align-items: center;
    outline: 0;
}

.nav_bar .nav_bottom .social_medias a{
    color: #AAB2BF;
}

.nav_bar .nav_middle .navLinks .contact:hover{
    transition: 0.4s ease-in-out}

.hoverContact{
    position: absolute;
    top: 320px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: black;
    padding: 2px;
    left: 7px;
    height: 20px;
}
/* 
.container{
    max-width: 1200px;
    margin: auto;
} */

main .main_div{
    width: 93vw;
    height: 100vh;
    position: relative;
}

main .main_div img{
    position: absolute;
    width: 100%;
    height: 100%;
    /* filter: blur(); */
    object-fit: cover;
}

main .main_div .inside_text{
    position: absolute;
    left: 10%;
    top: 30%;
    color: white;
}

main .main_div .inside_text h1{
    font-size: 60px;
}

main .main_div .inside_text h3{
    font-size: 30px;
    margin-top: 25px;
    width: 400px;
}

main .main_div .bottom_right{
    position: absolute;
    right: 5%;  ;
    bottom: 5%;
    z-index: 1;
    color: white;
    font-size: 20px;
}

