*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Baloo Paaji 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    /* background: linear-gradient(to bottom, green, red, yellow); */
    /* min-height: 100vh; */
    background: linear-gradient(to bottom, #757EAD 20%, white 80%);
    /* background-image: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);; */
    scroll-behavior: smooth;
    padding-bottom: 10px;
}

.container{
    max-width: 1200px;
    margin: auto;
}

header{
    position: fixed;
    width: 100%;
}

.nav_bar{
    height: 40px;
}

.nav_bar .nav_mid .navLinks{
    display: flex;
    list-style-type: none;
    justify-content: right;
    gap: 30px;
    padding: 1rem;
}

.nav_bar .nav_mid .navLinks li a{
    color: black;
    text-decoration: none;
}

.content{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    /* margin-left: 100px; */
}

main{
    padding-bottom: 50px;
    /* margin-left: -700px; */
    flex: 1;
}

main .home_page{
    display: flex;
    margin-left: 180px;
    height: 100vh;
}

main .home_page .hi_{
    font-size: 100px;
    /* font-weight: 600; */
    font-weight: bold;
    /* margin-top: -100px; */
    margin: 0;
    margin-top: 50px;
}

main .home_page .myName {
    font-size: 100px;
    font-weight: bold;
    margin-top: -70px;
    width: 700px;
    /* background: orange; */
    height: 200px;
}

main .home_page .myName span{
    position: relative;
    top: -100px;
    /* position: relative;
    left: 400px; */
    font-size: 70px;
    /* background:   orange; */
    /* height: 100px; */
}

/* main .home_page .name_ {
    font-weight: 100;
    font-size: 75px;    
    margin-top: 5px;
} */

main .home_page .front_end{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    /* margin-top: -120px; */
    font-size: 30px;
    letter-spacing: 4px;
}

main .home_page a{
    text-decoration: none;
    /* border: 1px solid black; */
    width: 140px;
    height: 35px;
    margin-top: 25px;

}

main .home_page .visit_btn{
    width: 140px;
    /* margin-top: 25px; */
    border: 0;
    border-radius: 20px;
    padding: 15px;
    outline: 0;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #5C2FC2;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}

main .home_page .visit_btn:hover{
    opacity: 1;
    transition: all 0.2s ease-in-out;
    
}

main .about_page{
    display: flex;
    flex-direction: row;
    /* min-width: 100vh; */
    margin-top: 110px;
    /* padding-bottom: -1000px; */
}

main .about_page img{
    width: 350px;
    height: 350px;
    margin-top: 20px;
    border-radius: 50%;
    margin-right: 15px;
}
main .about_page .description{
    margin-top: 40px;
}

main .about_page .description p{
    font-family: sans-serif;
    font-weight: 100;
    color: #231b1b;
    font-size: 18px;
}

main .about_page .description h1{
    color: #5C2FC2;
    font-size: 50px;
    margin-top: -10px;
}

main .about_page .description .paragraph_{
    font-weight: 100;
    font-size: 15px;
    text-align: justify;
    margin-top: 20px;
    color: black;
    /* letter-spacing: -0.1px; */
    word-spacing: -0.1px;
}

main .about_page .description .cv_btn{
    color: #5C2FC2;
    border: 1px solid #5C2FC2;
    margin-top: 40px;
    padding: 13px 1.8rem;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
}

main .about_page .description .cv_btn:hover{
    background: #5C2FC2;
    color: white;
    transition: all 0.2s ease-in-out;
}

main .skills_page{
    /* min-height: 100vh; */
    text-align: center;
    /* margin-top: 100px; */
    /* background: linear-gradient(to top, #5C2FC2, white); */
}

main .skills_page p{
    font-family: Arial, Helvetica, sans-serif;
    color: #231b1b;
    font-size: 25px;
    font-weight: 100;
}

main .skills_page h1{
    margin-top: -5px;
    color: #5C2FC2;
    font-size: 60px;
}

main .skills_page .skills{
    display: flex;
        /* display: grid;
        grid-template-columns: repeat(4, 1fr); */
    margin-top: 80px;
    grid-gap: 20px;
    width: 1000px;
    align-items: flex-end;
    position: relative;
    /* background-color: orange; */
    margin-left: 140px;
}

main .skills_page .skills div{
    border: 1px solid grey;
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    position: relative;    
}

main .skills_page .skills img{
    width: 150px;
    /* height: 80px; */
    transition: all 0.2s ease-in-out;
    position: relative;
    /* filter: grayscale(100%); */
}

main .skills_page .skills div p{
    position: absolute;
    width: 100px;
    font-size: 11px;
    bottom: -70px;
    /* font-weight: 100; */
    /* opacity: 0;     */
    transition: all 0.2s ease-in-out;
}

main .skills_page .skills .div_html:hover{
    height: 250px;
    /* position: relative; */
    /* bottom: 50px; */
    transition: all 0.2s ease-in-out;
}

main .skills_page .skills .div_html:hover > img{
    width: 150px;
    margin-bottom: 90px;
    transition: all 0.2s ease-in-out;
}

main .skills_page .skills .div_html:hover > p{
    opacity: 1;
    bottom: 15px;
    transition: all 0.2s ease-in-out;
    font-size: 15px;
    width: 200px;
}

main .skills_page .skills .div_css:hover{
    height: 250px;
    /* position: relative; */
    /* bottom: 50px; */
    transition: all 0.2s ease-in-out;
}

main .skills_page .skills .div_css:hover > img{
    width: 150px;
    margin-bottom: 90px;
    transition: all 0.2s ease-in-out;
}

main .skills_page .skills .div_css:hover > p{
    opacity: 1;
    bottom: 15px;
    transition: all 0.2s ease-in-out;
    font-size: 15px;
    width: 200px;
}


main .skills_page .skills .div_js:hover{
    height: 250px;
    /* position: relative; */
    /* bottom: 50px; */
    transition: all 0.2s ease-in-out;
}
main .skills_page .skills .div_js:hover > img{
    width: 150px;
    margin-bottom: 90px;
    transition: all 0.2s ease-in-out;
}

main .skills_page .skills .div_js:hover > p{
    opacity: 1;
    bottom: 15px;
    transition: all 0.2s ease-in-out;
    font-size: 15px;
    width: 200px;
}

main .skills_page .skills .div_gitHub:hover{
    height: 250px;
    /* position: relative; */
    /* bottom: 50px; */
    transition: all 0.2s ease-in-out;
}

main .skills_page .skills .div_gitHub:hover > img{
    width: 150px;
    margin-bottom: 90px;
    transition: all 0.2s ease-in-out;
}

main .skills_page .skills .div_gitHub:hover > p{
    opacity: 1;
    bottom: 15px;
    transition: all 0.2s ease-in-out;
    width: 200px;
    font-size: 15px;
}

main .portfolio_page {
    margin-top: 250px;
}

main .portfolio_page .projects{
    display: flex;
    margin-top: 120px;
    gap: 30px;
    margin-left: 250px;
}

main .portfolio_page .projects div{
    position: relative;
    width: 350px;
    height: 350px;
}

main .portfolio_page .projects div img{
    position: absolute;
    width: 100%;
    /* border: 3px solid grey; */
    height: 100%;
    object-fit: cover;
    margin-left: -135px;
}

.hireMe{
    margin-top: 150px;
    background: #5C2FC2;
    /* padding-bottom: 200px; */
}

.hireMe .hireMe_page{
    height: 150px;
    margin-top: 30px;
    width: 100vw;
    /* margin-left: -25vw; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hireMe .hireMe_page .work_with_me h2{
    font-size: 35px;
}

.hireMe .hireMe_page .work_with_me p {
    font-size: 17px;
    font-family: sans-serif;
    margin-top: 10px;
    letter-spacing: 2px;
}

.hireMe .hireMe_page .hire_me{
    padding: 7px 1rem;
    border: 0;
    font-family: "Baloo Paaji 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    border-radius: 4px;
}

.contact_{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    /* background: orange; */
}

.contact_ .div_contact p{
    font-family: sans-serif;
    letter-spacing: 2px;   
    font-size: 15px;
}

.contact_ .div_contact h1{
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #5C2FC2;
}

.contact_ .div_contact .contact_form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact_ .div_contact .contact_form .name_email{
    display: flex;
    gap: 20px;
}

.contact_ .div_contact .contact_form .name_email input{
    padding: 10px;
    width: 300px;
    border: 1px solid #CED4DA;
    font-size: 17px;
    outline: 0;
    border-radius: 5px;
}

.contact_ .div_contact .contact_form textarea{
    padding: 10px;
    font-family: sans-serif;
    font-size: 17px;
    outline: 0; 
    border-radius: 5px;
    resize: vertical;
    border: 1px solid #CED4DA;
}

.contact_ .div_contact .contact_form .submitBtn{
    width: 140px;
    padding: 9px;
    background: white;
    border: 1px solid #695AA6;
    color: #695AA6;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.contact_ .div_contact .contact_form .submitBtn:hover{
    background: #695AA6;
    color: white;
}

footer{
    font-family: sans-serif;
    color: grey;
    border-top: 1px solid grey;
    padding: 40px;
    padding-bottom: 20px;
}

footer .footer {
    display: flex;
    justify-content: space-between;
}

footer .footer p{
    font-size: 17px;
}

footer .footer .social_medias{
    display: flex;
    gap: 30px;
    align-items: center;
}

footer .footer .social_medias li{
    list-style-type: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid grey;
    border-radius: 50%;
    color: grey;
    transition: all 0.2s ease-in-out;
}

footer .footer .social_medias li a{
    color: grey;
    font-size: 20px;
}

footer .footer .social_medias li:hover{
    background: grey;
    color: white;
}

footer .footer .social_medias li:hover > a{
    color: white;
    transition: all 0.2s ease-in-out;
}

